__pycache__/
models
models_ckpt
dataset/
results/
logs/
logs
logs_cluster/
notebooks/.ipynb_checkpoints/
cluster_control/tasks/
archive/
pretrained/
Summary_vis/
Summary_vis_cluster/
Checkpoint
Checkpoint_cluster
vis/
logs_cluster
cluster_control/tb_job.yaml
cluster_control/yamls/
*.npy
a.pkl
tmp
third-parties_outside/adobe_svbrdf-master/train_list_cs.txt
tmp.py
tmp.pickle
notebooks/scene_mesh_debug*.obj
__pycache__
./*.obj
Summary_vis
