[submodule "train/third_parties_outside/deformable-convolution-pytorch"]
	path = train/third_parties_outside/deformable-convolution-pytorch
	url = https://github.com/1zb/deformable-convolution-pytorch.git
[submodule "third_parties_outside/photoshape"]
	path = third_parties_outside/photoshape
	url = https://github.com/Jerrypiglet/photoshape.git
[submodule "train/SimpleLayout"]
	path = train/SimpleLayout
	url = https://github.com/Jerrypiglet/SimpleLayout.git
[submodule "third_parties_outside/VirtualObjectInsertion"]
	path = third_parties_outside/VirtualObjectInsertion
	url = https://github.com/lzqsd/VirtualObjectInsertion.git
[submodule "third_parties_outside/SphericalGaussianOptimization"]
	path = third_parties_outside/SphericalGaussianOptimization
	url = https://github.com/lzqsd/SphericalGaussianOptimization.git
[submodule "third_parties_outside/ssn-pytorch"]
	path = third_parties_outside/ssn-pytorch
	url = https://github.com/perrying/ssn-pytorch.git
