[submodule "pacnet"]
	path = third-parties/pacnet
	url = https://github.com/NVlabs/pacnet.git
[submodule "third-parties/pacnet"]
	path = third-parties/pacnet
	url = https://github.com/NVlabs/pacnet.git
[submodule "train/third-parties/pacnet"]
	path = train/third-parties/pacnet
	url = https://github.com/NVlabs/pacnet.git
[submodule "train/third-parties/deformable-convolution-pytorch"]
	path = train/third-parties/deformable-convolution-pytorch
	url = https://github.com/1zb/deformable-convolution-pytorch.git
[submodule "third-parties_outside/photoshape"]
	path = third-parties_outside/photoshape
	url = https://github.com/Jerrypiglet/photoshape.git
[submodule "SimpleLayout"]
	path = SimpleLayout
	url = https://github.com/Jerrypiglet/SimpleLayout.git
