# python 3.10
# torch==2.0.0

opencv-python==4.2.0.34
psutil
h5py
matplotlib
scipy
scikit-image==0.16.2
tqdm
tensorboard
torchsummary
statistics
tables
pyyaml==5.4.1
yacs
pathlib
termcolor
nvidia_ml_py3
pickle5
# trimesh
numba
numpy-quaternion
seaborn
sympy
icecream
pytorch-lightning
# shapely
# vtk
tensorboardX
timm==0.6.13
iopath
ipympl
torchmetrics