torch==1.7.0
torchvision==0.8.0
opencv-python==4.2.0.34
psutil
h5py
matplotlib
scipy
scikit-image==0.16.2
tqdm
tensorboard
torchsummary
statistics
pyyaml
yacs
pathlib
termcolor
nvidia_ml_py3
pickle5
trimesh
numba
numpy-quaternion
seaborn
sympy
icecream
pytorch-lightning
shapely
vtk